@charset "UTF-8";
/*공통 스타일*/
*{margin: 0; padding: 0;}
#container{width: 90%; margin: 30px auto 100px;}
ul li{list-style: none;}
a{text-decoration: none;}

/* header 스타일 */
header{height: 80px; background-color: rgb(0, 128, 255);}
header #logo{width: 20%; float: left; line-height: 80px;}
#logo h1 a{color: greenyellow; padding-left: 24px; font-style: italic;}
#logo h1 a:hover{color: #eee;}
header nav{width: 70%; float: right;}
#topMenu{line-height: 80px;}
#topMenu li{float: left; margin: 0 20px;}
#topMenu li a{color: #eee;}
#topMenu li a:hover{color: #444;}

/* footer 스타일 */
footer{height: 80px; border-top: 2px solid #222;}
#bottomMenu{margin: 10px 20px;}
#bottomMenu li{float: left; margin: 10px 0; padding: 0 10px;
		border-right: 1.5px solid #ccc;}
#bottomMenu li a{color: #444;}
#bottomMenu li:last-child{border: none;}

/* main 스타일 */
#main{text-align: center;}
#main .main_img{margin: 16px;}
#main .main_img img{border-radius: 5px;}

/* 회원 목록 스타일 */
#memberlist{width: 700px; margin: 20px auto;}
#memberlist table{width: 700px; margin: 20px auto;}
#memberlist table, th, td{border: 1px solid #ccc; 
	border-collapse: collapse; text-align: center; }
table th, td{padding: 10px;}
table thead{background-color: #eee;}

/* 회원 가입 스타일 */
#join{width: 500px; margin: 20px auto;}
#join form{margin: 20px auto;}
form ul li{margin: 20px;}
form .button{margin-top: 16px;}
form .button button{padding: 5px;}
form label{width: 120px; float: left; padding-left: 20px;}
form input{padding: 5px;}



















