@charset "UTF-8";

*{margin: 0; padding: 0;}
#container{width: 90%; margin: 30px auto 100px;}
ul li{list-style: none;}
a{text-decoration: none;}


/* 회원 가입 스타일 */
#join{width: 400px; margin: 20px auto;}
#join form{margin: 20px auto;}
form ul li{margin: 20px;}
form .button{margin: 20px 30px;}
form .button button{padding: 5px;}
form label{width: 120px; float: left; padding-left: 20px;}
form input{padding: 5px;}

